/* *{border: 0.5px red dotted;} */

:root {
    
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 25,189,156;

    --bs-secondary: #3a546d;
    --bs-secondary-rgb: 68,84,109;

    --bs-dark: #2c3e50;
    --bs-dark-rgb: 44,62,80;
}

.hamburger-nav{padding: 1rem;
border: 0.5px solid white ;}